@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-border: hsl(var(--border));
}


:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 5%;

  --border: 0 0% 75%;

  --primary: 0 0% 10%;
  --primary-foreground: 0 0% 100%;

  --secondary: 0 0% 97%;
}


.dark {
  --background: 0 0% 5%;
  --foreground: 0 0% 96%;

  --border: 0 0% 20%;

  --primary: 0 0% 95%;
  --primary-foreground: 0 0% 5%;

  --secondary: 0 0% 8%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}