@import "tailwindcss";

/* Enable dark: variant using Tailwind v4 syntax */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme variables for ThemeProvider */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary2:var(--primary2);
  --color-border: var(--border)
}

:root {
  --background: hsla(0 0% 100% / 1);
  --foreground: hsla(0 0% 0% / 0.99); /* black color btw */

  --border: hsla(0 0% 0% / 0.5);

  
  --primary: hsla(180, 60%, 35%, 0.5);
  --primary2:hsla(200, 70%, 60%, 0.1);
}

.dark {
  --background: hsla(0 0% 0% / 0.99); /* black color btw */
  --foreground: hsla(0 0% 100% / 0.99);

  --border: hsla(0 0% 100% / 0.5);


  --primary: hsla(180, 60%, 35%, 0.5);
  --primary2:hsla(200, 50%, 60%, 0.1);

}

body {
  background: var(--background);
  color: var(--foreground);
}
